<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width= device-width, initial-scale=1.0, user-scalable= no">
    <title>{{title}} | {{h.siteName}}</title>
    <meta name="description" content="Graphics Designer">
    <link rel="stylesheet" href="/styles.css">
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/abhijithvijayan/image/upload/v1555841697/suirhncid9bjjsq8iugw.ico"
        type="image/x-icon">
</head>

<body>

    {{{body}}}


    <script src="/bundle.js"></script>
</body>

</html>