# App port to run on
PORT=5000

# Node environment 
NODE_ENV=""

# Website Name
SITE_NAME=""

# Your cookie secret
COOKIE_SECRET=""

# Your jwt secret for API
JWT_SECRET=""

# Mongodb Credentials
DATABASE="mongodb://127.0.0.1:27017/simple-backend-boilerplate"

# Cloudinary Credentials
CLOUDINARY_URL="cloudinary://something:somekey@somewhere"